<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">STEPBible Explorer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="lexiconDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lexicons
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="lexiconDropdown">
                        <li><a class="dropdown-item" href="/lexicon/hebrew">Hebrew Lexicon</a></li>
                        <li><a class="dropdown-item" href="/lexicon/greek">Greek Lexicon</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/morphology">Morphology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/names">Names</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
            </ul>
            <form class="d-flex" action="/search" method="get">
                <input class="form-control me-2" type="search" name="q" placeholder="Search..." aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav> 